*.md.html
markdown/
*.class
*.pyc
sdk/java/HttpApi.jar
*.exe
/sdk/C#/bin
/sdk/C#/obj
/sdk/C#/.vs
/sdk/C++/HttpApi/Debug
/sdk/C++/HttpApi/Release
/sdk/C++/cpprestsdk-2.9.0/Debug
/sdk/C++/cpprestsdk-2.9.0/Release
/sdk/C++/cpprestsdk-2.9.0/Binaries
/sdk/C++/HttpApi/.vs
/sdk/C++/cpprestsdk-2.9.0/.vs
*.db
*.opendb
*.pdb
